*{
    margin: 0;
    font-family: Times;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 8px;
    width: 150px;
}
#inptsk{
    width: 300px;
    font-size: 24px;
    padding: 4px;
}
input:focus{
    border: 2px solid blue;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
h2{
    margin-bottom: 2rem;
}
.btn1{
    flex-direction: row;  
    margin-left: 10px; 
}