
body {*{
    margin: 0;
    font-family: arial;
    border: border_box;

}
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}
.container{
    text-align: center;
    color: #2c3e50;
    margin: 2rem;

}
.game{
    /* height: 300px;
    width: 300px; */
    border: 2px black solid;
    display: grid;
    grid-template-columns: repeat(3, 100px); 
    grid-template-rows: repeat(3, 100px);    
    /* gap: 5px;  */
    background-color: #ecf0f1; 
    padding: 10px;
    border: 2px solid #34495e; 

}
.game div{
    height: 100px;
    width: 100px;
    border: 2px solid #34495e;
}
.rstgame {
    background-color: #3498db; /* blue */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* spacing from game */
    transition: background-color 0.3s;
}
.rstgame:hover {
    background-color: #2980b9; /* darker blue on hover */
}
#win-status {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white; 
    text-align: center;
    transition: color 0.3s;
    background-color: green;
    padding: 10px;
    border-radius: 0.5rem;
    width: 200px;
}
.cell {
    display: flex;
    justify-content: center; 
    align-items: center;     
    font-size: 3rem;         
    font-weight: bold;
    cursor: pointer;

    width: 100px;            
    height: 100px;           
}
